<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Loja{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Store/css/styles.css' %}">
    <style>
        header, footer {
            background-color: {{ empresa.cor_tema }};
        }
    </style>
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <div class="logo">
            {% if empresa.logo %}
                <img src="{{ empresa.logo.url }}" alt="{{ empresa.nome }}">
            {% else %}
                Minha Loja
            {% endif %}
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'listar_produtos' %}">Home</a></li>
                <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar</a></li>
                <li><a href="{% url 'pedidos_cliente' %}">Meus Pedidos</a></li>
                <li><a href="{% url 'ver_carrinho' %}">Carrinho</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <!-- Conteúdo Dinâmico -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Rodapé -->
    <footer>
        <p>&copy; 2025 Minha Loja. Todos os direitos reservados.</p>
    </footer>

    <script src="{% static 'Store/js/scripts.js' %}"></script>
</body>
</html>