{% extends 'Store/base.html' %}

{% block content %}
<div class="detalhe-produto">
    <h1>{{ produto.nome }}</h1>
    <p>{{ produto.descricao }}</p>
    <p>{{ produto.tamanho}}</p>
    <p>{{ produto.cor }}</p>
    <p>{{produto.estoque}}</p>
    <p class="preco">Preço: R$ {{ produto.preco }}</p>
    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">

    <div>
    <a href="{% url 'adicionar_ao_carrinho' produto.id %}" class="btn">Adicionar ao carrinho</a>
    </div>
</div>
{% endblock %}