{% extends 'Store/base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}
    <div class="empresa-destaque">
        {% if empresa.imagem_destaque %}
            <img src="{{ empresa.imagem_destaque.url }}" alt="{{ empresa.nome }}">
        {% endif %}
        <div class="empresa-descricao">
            <h2>{{ empresa.nome }}</h2>
            <p>{{ empresa.descricao }}</p>
        </div>
    </div>
    
    <h1>Produtos</h1>

    <!-- Formulário de Filtro -->
    <form method="GET" action="{% url 'listar_produtos' %}">
        <input type="text" name="nome" placeholder="Nome do produto" value="{{ request.GET.nome }}">
        <button type="submit">Filtrar</button>
    </form>

    <div class="produtos-grid">
        {% for produto in produtos %}
            <div class="produto-card">
                <!-- Imagem do produto -->
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                <h2>{{ produto.nome }}</h2>
                <p>{{ produto.descricao }}</p>
                <p class="preco">R$ {{ produto.preco }}</p>
                <div class="botoes">
                    <a href="{% url 'detalhe_produto' produto.id %}" class="btn detalhes">Ver detalhes</a>
                    <a href="{% url 'adicionar_ao_carrinho' produto.id %}" class="btn carrinho">Adicionar ao carrinho</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
